@model HTHABaiThucHanh8883.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDStudent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NameStudent }) |
    @Html.ActionLink("Back to List", "Index")
</p>
