@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tin học kinh tế</p>
<label> mã sinh viên :</label>
<input type="text" name="Masinhvien" />
<input type="submit" value="Gửi dữ liệu" />
}
@using (Html.BeginForm())
{
    <label> Họ tên sinh viên :</label>
    <input type="text" name="Hotensinhvien" />
    <input type="submit" value="Gửi dữ liệu" />
}
